@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font: 16px 'Poppins' bolder;
}

.container {
    background-image: linear-gradient(45deg, rgb(14, 13, 13), rgb(23,23,23) );
    width: 300px;
    height: 420px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
}

.barra {
    width: 250px;
    margin: 20px 0px;
    background-color: white;
    text-align: right;
    padding: 5px;
    font-size: 24px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

.botao {
    background-color: rgb(15, 14, 14);
    border: 0.5px solid rgba(255, 255, 255, 0.26);
    width: 55px;
    color: white;
    padding: 20px;
    margin: 2px;
    border-radius: 10px;
}